body {
 font: 100% "Trebuchet MS", sans-serif;
 margin: 50px;
 background-color: #000000;
 color: #ffffff;
}

body {
  font-family: Verdana,Arial,sans-serif;
  font-size: 14px;
}

p {
  margin: 1em 0;   
}

strong {
  font-weight: 900;   
}

table {
  table-layout: fixed;
}

input[type=number]{
    width: 80px;
}